# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite
dist/
dist-ssr
.vite/
.cache/

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.vitest/

# Environment variables
.env
.env.*

# Editor and system files
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lint-staged & Husky
.husky/_/
logs
*.log

# Optional: local project settings or system files
*.local.*
*.swp
.trash/
